@model PagedList.IPagedList<Warsztat.Models.Report>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Historia";
}




<h2 class="mt-5 mb-4">Sprawdź historię napraw</h2>

@using (Html.BeginForm())
{
    <div class="form-inline">
        <p>
            Wyszukaj po numerze VIN lub numerze rejstracyjnym: @Html.TextBox("SearchString", null, new { @class = "form-control" })
            <input type="submit" value="Szukaj" class="btn btn-dark" />
        </p>
    </div>
}



<table class="table table-striped mt-4">
    <thead class="thead-dark">
        <tr>
            <th>
                Id
            </th>
            <th>
                Typ
            </th>
            <th>
                Status
            </th>
            <th>
                Samochód
            </th>
            <th>
                Przebieg (km)
            </th>
            <th>
                Tytuł
            </th>
            <th>
                Data
            </th>
            <th>
                Zgłoszający
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportedBy)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", "Reports", new { id = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Aktualizuj", "Edit", "Reports", new { id = item.Id }, null)

        </td>
    </tr>}
</table>
<div class="text-right mt-5">
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    <div>@Html.PagedListPager(Model, page => Url.Action("History", new { page, currentFilter = ViewBag.CurrentFilter }))</div>
</div>

